body {
    margin: 0;
    padding: 0;
}

select {
    border: 0;
    color: #3A3C3D;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.container {
    width: 500px;
    margin: 0 auto;


}

.strings {
    margin-top: 150px;
}

.string {
    height: 1px;
    margin-bottom: 9px;
    background: #000;
}

.string:last-child{
    margin-bottom: 0;
}

.string--extra {
    background: rgba(0,0,0,.1);
    width: 100%;
}

.string-wrap {
    padding-top: 4px;
    margin-top: 50px;
    position: relative;
}

.key {
    position: absolute;
    background-size: cover;
    left: 5px;
}

.key--treble {
    top: 12px;
    height: 69px;
    width: 25px;
    background-image: url(img/key.png)
}

.key--bass {
    background-image: url(img/bas.png);
    top: 16px;
    height: 34px;
    width: 27px;
}

.note {
    width: 14px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.note--0 {
    left: 70px;
}

.note--1{
    left: 100px;

}

.note--2{
    left: 130px;

}

.controls {
    padding: 30px 0;
    background: #3A3C3D;
}

.controls__item {
    display: inline-block;
    margin-left: 10px;
}

.controls__item:first-child {
    margin-left: 0;
}

.options {
    float: left;
}

.settings__button {
    float: right;
    height: 50px;
    width: 200px;
    background: #34BA56;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    -webkit-animation: color_change 1.5s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

.settings__button:hover {
    background: #5DCF77;
    cursor: pointer;
    -webkit-animation: none;
    animation: none;
}

.settings__button:active {
    background: #5FD97C;
    -webkit-animation: none;
    animation: none;
}

.settings__button--active {
    background: #C5C8C9;
    -webkit-animation: none;
    animation: none;
}

.settings__button--active:hover {
    background: #D3DBDB;
}

.settings__button--active:active {
    background: #DEE3E3;
}

.label {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.select {
    font-size: 30px;
    height: 50px;
    outline: none;
    border-radius: 5px;
}

@-webkit-keyframes color_change {
    from { background-color: #34A84F; }
    to { background-color: #47D668; }
}
@-moz-keyframes color_change {
    from { background-color: #34A84F; }
    to { background-color: #47D668; }
}
@-ms-keyframes color_change {
    from { background-color: #34A84F; }
    to { background-color: #47D668; }
}
@-o-keyframes color_change {
    from { background-color: #34A84F; }
    to { background-color: #47D668; }
}
@keyframes color_change {
    from { background-color: #34A84F; }
    to { background-color: #47D668; }
}